.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #6b0d6c, #9b5c18);
}

.card {
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: #94c5dc;
  margin-bottom: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 5px;
}

/* new */



.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #a95519, #11ab72) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
.bg-cover {
  background-size: cover !important;
}
