/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #d451dea3;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #d451dea3
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #d451dea3
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color:#d451dea3;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background:#d451dea3
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #d451dea3
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #d451dea3;
}

a.article,
a.article:hover {
    background:#d451dea3 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    background-image: url('2328116.jpg');
    
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    
}

#content h3{
    color: #3CACAE;
    font-weight: 500;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


.panel{
    background:  #072234;
    padding: 0;
    border-radius: 10px;
    border: none;
    width: 120%;
    margin: 5px;
    
}
.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
   
}
/* registerd student word */
.panel .panel-heading .title{
    color: rgb(14, 11, 11);
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
/* .panel .panel-heading .btn{
    color: rgba(175, 59, 59, 0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
} */
/* .panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
} */

/* search box */
.panel .panel-heading .form-control{
    background-color: transparent;
    width: 45%;
    height: 40px;
    border: 2px solid #fff;
    margin-left: 100px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
   
}
/* .panel .panel-heading .form-control:focus{
    background-color: rgba(143, 47, 47, 0.2);
    box-shadow: none;
    outline: none;
} */

/* word inside search */
.panel .panel-heading .form-control::placeholder{
    color: rgba(241, 227, 227, 0.5);
    font-size: 15px;
    font-weight: 500;
}

/* table heads */
.panel .panel-body .table thead tr th{
    color: rgb(27, 23, 23);
    font-family: "Font Awesome 5 Free";
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
    border: none;
}

/* table data */
.panel .panel-body .table tbody tr td{
  align-items: center;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
 
}

.panel .panel-body .table i{
  color: white;

}

@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}